.m-pagesselector{
    margin: 0 auto;
}
.m-pagesselector *{
    float: left;
    text-align: center;
    cursor: pointer;
    color: #5ed0ba;
}
.m-pagesselector>i{
    font: 11px "微软雅黑";
}
.m-pagesselector>ul{
    font: 8px "微软雅黑";
}
.m-pagesselector>ul>li{
    list-style: none;
    text-align: center;
}
.m-pagesselector>ul>li.z-active{
    background-image: url("../res/images/icon.png");
    background-position: -100px 0;
    color: #ffffff;
}
